Our first step is to obtain the execution roles for the environment. This allows the notebook to read into S3 and make changes as necessary.

In [18]:
bucket = 'hackathon-dataset-boihackpart1-eu-west-1-tsys'
#prefix = 'sagemaker/'
 
# Define IAM role
import boto3
import re
from sagemaker import get_execution_role

role = get_execution_role()

Next we need to load the dataset into a Pandas Dataframe. At ~50 Gigabytes, it is far too large to fit into the machine, so we chunk it into much smaller pieces at 1 million rows per piece. You made have to manually install s3fs with the "conda install --name tensorflow_p36 s3fs" command in the terminal command prompt

In [36]:
%%time
import io
import s3fs
import pandas as pd
data_c = pd.read_csv('s3://hackathon-dataset-boihackpart1-eu-west-1-tsys/dataset/hackathon_credit.txt', sep = '\t', encoding = 'UTF-16', iterator = True)

CPU times: user 16 ms, sys: 36 ms, total: 52 ms
Wall time: 130 ms

In [39]:
data_c.get_chunk(10000000)

,AccountID,CustomerID,CardTypeIdentifier,Scheme,CustomerCountry,CustomerCounty,DateAccountOpened,YearOfBirth,CurrentCreditLimit,LifetimeNumberCashWithdrawals,...,TransactionAmount,TransactionCurrency,MerchantTerminalID,POSEntryTypeDescription,TerminalEntry,MerchantLocation,MerchantCountry,MerchnatCategoryCode,MerchantCategoryDescription,MerchantCategoryGroup
5000000,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,5.20,Euro,80005148,POS Entry E-Commerce,81,Dublin,IRL,4784,"Bridge and Road Fees, Tolls",All Public & Private Transporation
5000001,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,16.60,Euro,31081099,NaN,07,Kildare,IRL,5812,Eating Places and Restaurants,"Caterers, Restaurants and Bars"
5000002,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,18.88,Euro,00001019,NaN,07,Kildare,IRL,5441,"Candy, Nut, and Confectionery Stores","Food & Daily Stores, Drug and Liquor Stores"
5000003,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,52.01,Euro,80275874,NaN,05,Kildare,IRL,5541,Service Stations (With or Without Ancillary Se...,Service Stations
5000004,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,3.00,Euro,23235313,NaN,07,Dublin,IRL,5651,Family Clothing Stores,Misc. & Specialty Retail Stores
5000005,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,48.00,Euro,00000057,POS Entry E-Commerce,81,Dublin,IRL,5964,Direct Marketing-Catalog Merchants,Mail & Phone Order Businesses
5000006,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,15.00,Euro,16064714,NaN,07,Kildare,IRL,7230,Barber and Beauty Shops,Misc. Personal Services
5000007,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,4.19,Euro,00001019,NaN,07,Kildare,IRL,5441,"Candy, Nut, and Confectionery Stores","Food & Daily Stores, Drug and Liquor Stores"
5000008,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,41.00,Euro,80027081,NaN,05,Carlow,IRL,5541,Service Stations (With or Without Ancillary Se...,Service Stations
5000009,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,12.04,Euro,,NaN,,Wicklow,IRL,5411,"Grocery Stores, Supermarkets","Food & Daily Stores, Drug and Liquor Stores"
5000010,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,7.15,Euro,29823762,NaN,07,Carlow,IRL,5499,"Miscellaneous Food Stores-Convenience Stores, ...","Food & Daily Stores, Drug and Liquor Stores"
5000011,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,42.00,Euro,00000057,POS Entry E-Commerce,81,Dublin,IRL,5964,Direct Marketing-Catalog Merchants,Mail & Phone Order Businesses
5000012,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,5.30,Euro,31081099,NaN,07,Kildare,IRL,5812,Eating Places and Restaurants,"Caterers, Restaurants and Bars"
5000013,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,6.78,Euro,,NaN,,Carlow,IRL,5499,"Miscellaneous Food Stores-Convenience Stores, ...","Food & Daily Stores, Drug and Liquor Stores"
5000014,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,10.85,Euro,,NaN,,Carlow,IRL,5411,"Grocery Stores, Supermarkets","Food & Daily Stores, Drug and Liquor Stores"
5000015,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,7.96,Euro,28889279,NaN,07,Carlow,IRL,5912,Drug Stores and Pharmacies,"Food & Daily Stores, Drug and Liquor Stores"
5000016,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,25.98,Euro,28889253,NaN,07,Carlow,IRL,5912,Drug Stores and Pharmacies,"Food & Daily Stores, Drug and Liquor Stores"
5000017,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,3.79,Euro,00001019,NaN,07,Kildare,IRL,5441,"Candy, Nut, and Confectionery Stores","Food & Daily Stores, Drug and Liquor Stores"
5000018,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,5.75,Euro,10418501,NaN,07,Kildare,IRL,7011,"Lodging-Hotels, Motels, Resorts-not elsewhere ...",All Lodging & Hotels
5000019,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,8.76,Euro,,NaN,,Dublin,IRL,5499,"Miscellaneous Food Stores-Convenience Stores, ...","Food & Daily Stores, Drug and Liquor Stores"
5000020,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,14.99,Euro,07936401,NaN,07,Dublin,IRL,5699,Accessory and Apparel Stores-Miscellaneous,Misc. & Specialty Retail Stores
5000021,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,37.24,Euro,31084149,NaN,05,Kildare,IRL,5912,Drug Stores and Pharmacies,"Food & Daily Stores, Drug and Liquor Stores"
5000022,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,40.95,Euro,00000001,NaN,05,Dublin,IRL,5311,Department Stores,"Discount, General Merchandise Stores"
5000023,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,4.98,Euro,00002377,NaN,,Kildare,IRL,5411,"Grocery Stores, Supermarkets","Food & Daily Stores, Drug and Liquor Stores"
5000024,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,21.45,Euro,NaN,NaN,,Carlow,IRL,5411,"Grocery Stores, Supermarkets","Food & Daily Stores, Drug and Liquor Stores"
5000025,47380,62788,CREDIT,MasterCard,United Kingdom of Great Britain and Northern I...,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,62.01,Pound Sterling,NaN,POS Entry E-Commerce,81,Amargh,GBR,5499,"Miscellaneous Food Stores-Convenience Stores, ...","Food & Daily Stores, Drug and Liquor Stores"
5000026,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,7.98,Euro,NaN,NaN,05,Carlow,IRL,5251,Hardware Stores,Misc. & Specialty Retail Stores
5000027,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,24.70,Euro,NaN,NaN,07,Carlow,IRL,5541,Service Stations (With or Without Ancillary Se...,Service Stations
5000028,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,30.40,Euro,NaN,NaN,05,Carlow,IRL,5541,Service Stations (With or Without Ancillary Se...,Service Stations
5000029,47380,62788,CREDIT,MasterCard,Ireland,Kildare,1997-05-21 00:00:00,1966,1000.0,2,...,4.47,Euro,NaN,NaN,05,Carlow,IRL,5411,"Grocery Stores, Supermarkets","Food & Daily Stores, Drug and Liquor Stores"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14999970,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,3.00,Euro,NaN,NaN,07,Dublin,IRL,5814,Fast Food Restaurants,Fast-Food Restaurants
14999971,154137,214317,CREDIT,MasterCard,Norway,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,7.07,Norwegian Krone,NaN,NaN,05,NaN,NOR,5812,Eating Places and Restaurants,"Caterers, Restaurants and Bars"
14999972,154137,214317,CREDIT,MasterCard,Norway,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,98.93,Norwegian Krone,NaN,NaN,05,NaN,NOR,7392,"Consulting, Management, and Public Relations S...",Misc. Business Services
14999973,154137,214317,CREDIT,MasterCard,Norway,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,36.06,Norwegian Krone,NaN,POS Entry E-Commerce,81,Oslo,NOR,4112,Passenger Railways,All Public & Private Transporation
14999974,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,26.45,Euro,NaN,NaN,05,Dublin,IRL,5065,Electrical Parts and Equipment,Misc. & Specialty Retail Stores
14999975,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,6.11,Euro,NaN,NaN,,NaN,IRL,5411,"Grocery Stores, Supermarkets","Food & Daily Stores, Drug and Liquor Stores"
14999976,154137,214317,CREDIT,MasterCard,Norway,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,57.70,Norwegian Krone,NaN,NaN,05,Oslo,NOR,5999,Miscellaneous and Specialty Retail Stores,Misc. & Specialty Retail Stores
14999977,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,4.40,Euro,NaN,NaN,,NaN,IRL,5411,"Grocery Stores, Supermarkets","Food & Daily Stores, Drug and Liquor Stores"
14999978,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,80.00,Euro,NaN,NaN,05,Cork,IRL,8021,Dentists and Orthodontists,"Healthcare Providers, Attorneys"
14999979,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,20.50,Euro,NaN,NaN,07,Dublin,IRL,5309,Duty Free Stores,"Discount, General Merchandise Stores"
14999980,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,5.95,Euro,NaN,NaN,07,NaN,IRL,5411,"Grocery Stores, Supermarkets","Food & Daily Stores, Drug and Liquor Stores"
14999981,154137,214317,CREDIT,MasterCard,Norway,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,15.27,Norwegian Krone,NaN,NaN,07,NaN,NOR,5651,Family Clothing Stores,Misc. & Specialty Retail Stores
14999982,154137,214317,CREDIT,MasterCard,Luxembourg,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,174.94,Pound Sterling,00221455,POS Entry E-Commerce,81,Amazon,LUX,5942,Book Stores,Misc. & Specialty Retail Stores
14999983,154137,214317,CREDIT,MasterCard,Luxembourg,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,46.88,Euro,00019295,POS Entry E-Commerce,81,Amazon,LUX,5969,Direct Marketing-Other Direct Marketers-not el...,Mail & Phone Order Businesses
14999984,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,11.19,Euro,00001827,NaN,,Cork,IRL,5411,"Grocery Stores, Supermarkets","Food & Daily Stores, Drug and Liquor Stores"
14999985,154137,214317,CREDIT,MasterCard,United States of America (The),Kildare,1999-05-31 00:00:00,1974,350.0,27,...,42.96,United States Dollar,00784959,POS Entry E-Commerce,81,Amazon,USA,5942,Book Stores,Misc. & Specialty Retail Stores
14999986,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,28.27,Euro,00000001,POS Entry E-Commerce,81,General Internet,IRL,4789,Transportation Services Not Elsewhere Classified,All Public & Private Transporation
14999987,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,15.34,Euro,00001666,NaN,07,Kildare,IRL,5411,"Grocery Stores, Supermarkets","Food & Daily Stores, Drug and Liquor Stores"
14999988,154137,214317,CREDIT,MasterCard,Luxembourg,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,134.74,Pound Sterling,00057186,POS Entry E-Commerce,81,Amazon,LUX,5969,Direct Marketing-Other Direct Marketers-not el...,Mail & Phone Order Businesses
14999989,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,17.00,Euro,80212829,NaN,07,Kildare,IRL,5921,"Package Stores-Beer, Wine, and Liquor","Food & Daily Stores, Drug and Liquor Stores"
14999990,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,10.00,Euro,00000001,POS Entry E-Commerce,81,Paypal,IRL,4215,"Courier Services-Air and Ground, Freight Forwa...",All Public & Private Transporation
14999991,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,23.98,Euro,00000001,POS Entry E-Commerce,81,General Internet,IRL,4789,Transportation Services Not Elsewhere Classified,All Public & Private Transporation
14999992,154137,214317,CREDIT,MasterCard,Luxembourg,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,23.73,Pound Sterling,00221455,POS Entry E-Commerce,81,Amazon,LUX,5942,Book Stores,Misc. & Specialty Retail Stores
14999993,154137,214317,CREDIT,MasterCard,Luxembourg,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,4.50,Euro,00222304,POS Entry E-Commerce,81,Amazon,LUX,5999,Miscellaneous and Specialty Retail Stores,Misc. & Specialty Retail Stores
14999994,154137,214317,CREDIT,MasterCard,Luxembourg,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,29.72,Pound Sterling,00221455,POS Entry E-Commerce,81,Amazon,LUX,5942,Book Stores,Misc. & Specialty Retail Stores
14999995,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,10.00,Euro,85067901,POS Entry E-Commerce,81,Dublin,IRL,7995,Gambling Transactions,Gambling
14999996,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,23.98,Euro,00000001,POS Entry E-Commerce,81,General Internet,IRL,4789,Transportation Services Not Elsewhere Classified,All Public & Private Transporation
14999997,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,13.00,Euro,40256302,NaN,,Kildare,IRL,5541,Service Stations (With or Without Ancillary Se...,Service Stations
14999998,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,26.31,Euro,00001666,NaN,07,Kildare,IRL,5411,"Grocery Stores, Supermarkets","Food & Daily Stores, Drug and Liquor Stores"
14999999,154137,214317,CREDIT,MasterCard,Ireland,Kildare,1999-05-31 00:00:00,1974,350.0,27,...,19.86,Euro,00000061,NaN,07,Kildare,IRL,5411,"Grocery Stores, Supermarkets","Food & Daily Stores, Drug and Liquor Stores"

In [41]:
%%time
data_c.get_chunk(100000000)['TransactionAmount'].describe()

MemoryError:

In [ ]:
%%time
for chunk in data_c:
    data_c.get_chunk(chunk)['TransactionAmount'].round(0).astype(int64)

In [ ]:
%%time
TranMean = []
for chunk in data_c:
    TranMean.add(chunk['TransactionAmount'].mean())

Let's calculate the average transaction amount in the dataset. Because the data is split into chunks, we need to iterate through each chunk and calculate the mean for that chunk. We then append that mean to a list, and do a final calculation on that array. Note you will have to do this for all summary statistics of central tendency: calculate the metric on each chunk, then do a final calculation.

In [13]:
TranMean

[]

In [9]:
print(sum(TranMean)/len(TranMean))

ZeroDivisionError: division by zero